<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{npm_package_config_page_title}}</title>
    <style>
      body {
        background: #000;
        color: #fff;
      }
      quote {
        margin-left: 20px;
        border-left: 5px solid gray;
        padding-left: 20px;
      }
    </style>
  </head>
  <body>
    <quote>
      This is an example static page created by 18F/coming-attractions. For more information <a href="https://github.com/18F/coming-attractions">click here</a>.
    </quote>
    {{CONTENT}}
  </body>
</html>
